<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlim.deimos">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaGuarda"></activity>
        <activity android:name=".PampaMaya" />
        <activity android:name=".Riglos" />
        <activity android:name=".Luca" />
        <activity android:name=".Kopke" />
        <activity android:name=".Durigutti" />
        <activity android:name=".Valduero" />
        <activity android:name=".Colome" />
        <activity android:name=".Maal" />
        <activity android:name=".ManosNegras" />
        <activity android:name=".QuintaPortal" />
        <activity android:name=".Yacochuya" />
        <activity android:name=".Robino" />
        <activity android:name=".Vicentin" />
        <activity android:name=".Patritti" />
        <activity android:name=".Canale" />
        <activity android:name=".AnconaLuca" />
        <activity android:name=".BodegaVistalba" />
        <activity android:name=".ElEnemigo" />
        <activity android:name=".Escorihuela" />
        <activity android:name=".ErnestoCatena" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>